<!DOCTYPE html>
<html>
<head>
  <title>Assignment2
  </title>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">


</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">The Jumpy!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>


          </ul>
          <form class="form-inline my-2 my-lg-0">

          </form>
        </div>
      </nav>
</header>
<body >
    
<div class="container mt-5" id="app">
    <div class="row">
        <div class="col-sm-6">
        <div class="card mb-3">
        <h3 class="card-header">Alan Roper</h3>
        <img src="image\childPicture.png" alt="Italian Trulli">
        <ul class="list-group list-group-flush" >
          <li class="list-group-item">{{ age }}</li>
          <li class="list-group-item">{{ goal }}</li>
          <li class="list-group-item">{{ weight }}</li>
          <li class="list-group-item">{{ calories }}</li>
          <li class="list-group-item">{{ average }}</li>
        </ul>


  
        </div>

</div>
<div class="col-sm-6">
    
 

        <img :src='image1'>
  
  
  
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" @click="changePicture()">Daily</button>
        <button type="button" class="btn btn-secondary" @click="changePicture('weekly')">Weekly</button>
        

      
      </div>
</div>
</div>
</div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        age: 'Age : 7',
        goal : 'Weight goal: 75 lbs',
        weight :'Current Weight: 90 lbs', 
        calories : 'Calories Burned today: 200',
        average :'Average calories burned : 345',
        image1 :"image\\dailyHighlight.png",
        image2 :"image\\dailyHighlight.png",
        image3 :"image\\weeklyHighlight.png"


      },

      methods:{
        changePicture: function (name) {
        if(name == 'weekly')
        {
            this.image1 = this.image3;
        }
        else
        {
            this.image1 = this.image2;
        }    	
	
      }
      
   }
    })
  </script>
</body>
</html>